
/* INDEX */
.fond{
    background-image: url(../img/Group5.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
.connecter{
    background-color: rgba(0,0,0,0);
    opacity: 0,5;
    border-radius: 10px;
    height: 38px;
    width: 162px;
    font-size: 16px;
    color: #e8def6;
    position: absolute;
    right: 10px;

}
/* Au moment ou survol sur le bouton connecter et incription il change de couleur*/
.connecter:hover{
    cursor:pointer;
    background-color: #e8def6;
    color: black;
}
.inscription:hover{
    cursor:pointer;
    background-color: #e8def6;
    color: black;
}
/* Finnnnn*/
.inscription{
    background-color: rgba(0,0,0,0);
    opacity: 0,5;
    border-radius: 10px;
    height: 38px;
    width: 162px;
    font-size: 16px;
    color: #e8def6;
    position: absolute;
    right: 182px;
}
/* CUBE EMAIL */

.pink{
    background-color: #e8def6 ;
    position: relative;
}


.logo{
    background-image: url(../img/adeuximg.png);
    background-size: 100%;
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: -30px;
}

.container {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

#fleche{
    font-size: 50px;
    margin:10px;
}
.retour{
    border-radius:100%;
    height: 50px;
    width: 50px;
    background-color: black;
}
.cubemail{

    width: 479px;
    height: 326px;
    background-color: white;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 481px;
    top: 157px;
   
}

.jecontinue{
    display:flex;
    text-align:end;
    background-color: black;
    color: white;
    height: 47px;
    width: 365px;
    border-radius: 10px;
    margin: auto;
    padding: 8px;
    padding-left: 123px;
    margin-bottom: 19px;
    font-size: 19px;

    
  
}

.champs{
    border-radius: 10px;
    height: 40px;
    width: 388px;
    padding-left:10px ;
    font-size: 16px;
    margin-bottom: 25px;
}

.champsC{
    border-radius: 10px;
    height: 40px;
    width: 368px;
    padding-left: 12px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 22px;
    margin-bottom: 4px;
}

.textmail{
    padding-bottom: 25px;
}

.nom{
    display: inline-block;
    margin-right: 10px;

}
.margin{
    margin:auto;
    text-align:center ;
}
/* FIN CUBE EMAIL */

/*CUBE PASSWORD*/

#textmdp, #txtnom, #password, #txtnom1, #txtprenom1, #prenom, #txtpseudo, #pseudo, #age,#txtage, #sex, #txtsex,#txtpoids,#poids,#txtyeux,#yeux,#txttaille,#taille,#txtcheveux,#cheveux,#txtorigine,#origine,#txtville,#ville,#txtrelation,#relation,#txtreligion,#religion{
    display: none;
}


/*CUB CONNEXION*/
.cubconnexion{
    width: 435px;
    height: 242px;
    background-color: white;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 481px;
    top: 200px;
}


